[Unit]
Description=PHP Monitoring Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/php /work/ensign2023/Blue/phpListener.php

[Install]
WantedBy=multi-user.target
